/*购物车主体样式*/
section{
  background-image: url(../images/bg_03.jpg);
}
.join{
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}
.join .joinup{
  background-color: #fdd900;
  padding: 24px 0 14px;
}
.join .joinup>div{
  width: 1100px;
  margin: 0 auto;
  display: flex;
}
.join .joinup p{line-height: 60px;
  font-size:30px;
  color:#2b2e33;
  border-left: 5px solid #000;
  padding-left: 22px;
}
.join p b{
  font-weight: normal;
  font-size:24px;
}
.join p b span{
  color:#f85a03;
}
.join .word{
  margin-top: 19px;
}
.join .word>span{
  font-size:18px;
  color:#2c2d32;
  line-height: 36px;
  border-bottom: 2px solid #000;
  margin-left: 20px;
}
.join .word>span:first-child{
  border-bottom: 5px solid #000;
}
.join>div:nth-child(2){
  width: 1200px;
  padding-top: 53px;
  background-image: url('../images/order.png');
  background-repeat: no-repeat;
}
