.buycar{
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}
.buycarup{
  background-color: #fdd900;
  padding: 24px 0 14px;
}
.buycarup>div{
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
 .buycarup p{line-height: 60px;
  font-size:30px;
  color:#2b2e33;
  border-left: 5px solid #000;
  padding-left: 22px;
}
.buycar p b{
  font-weight: normal;
  font-size:24px;
}
.buycar p b span{
  color:#f85a03;
}
.buycar .word{
  margin-top: 19px;
}
.buycar .word>span{
  font-size:18px;
  color:#2c2d32;
  line-height: 36px;
  border-bottom: 2px solid #000;
  margin-left: 20px;
}
.buycar .word>span:first-child{
  border-bottom: 5px solid #000;
}
.buycar>div:nth-child(2){
  width: 1200px;
  padding-top: 53px;
  background-image: url('../images/order.png');
  background-repeat: no-repeat;
}



form{
    width: 1100px;
    margin: 0 auto;
}
form .title{
    padding-bottom: 12px;
    border-bottom: 2px solid #2b2e33;
}
form .title label,form .title span{
    font-size: 14px;
    color:#424649;
}
form .title span:nth-child(3){
    margin-left: 30px;
    margin-right: 500px;
}
form .title span:nth-child(5){
    margin-left: 165px;
    margin-right: 150px;
}
form .title span:nth-child(6){
    margin-right: 60px;
}
.goods{
    padding: 20px 25px 20px 0px;
    border-bottom: 1px solid #d1d7e3;
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.goods>input{
  flex-basis: 50px;
}
.goods>a{
  flex-basis: 106px;
}
.goods>p{
  flex-grow: 2;
}
.goods img{
    display: block;
}
.goods>p>a{
    width: 240px;
    color:#474a4f;
    font-size:14px;
    margin-bottom: 18px;
}
.goods>p>a:hover{
    color:#fdd900;
}
.goods>p>span{
    display: block;
    font-size: 14px;
    color:#b6b7b7;
}
.goods .money{
    width: 475px;
    display: flex;
    justify-content: space-between;
}
.goods .money a,.goods .money>span,.goods .money p{
    line-height: 36px;
    color: #000;
}
.goods .money>span,.goods .money p{
    font-size: 14px;
}
.goods .money .add,.goods .money .red{
    width: 36px;
    font-size: 18px;
    color:#000;
    text-align: center;
    border:1px solid #2d2e32;
}
.goods .money>p:nth-child(5){
    width: 30px;
    color:#f20201;
}
.goods .money .qty{
    width: 10px;
}
.end{
    padding-top: 50px;
    padding-bottom: 79px;
    border-top: 2px solid #2d2d35;
    position: relative;
}
.endin{
  display: flex;
}
.endleft{
    width: 880px;
    background-color: #2b2e33;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.endleft input,.endleft label,.endleft>a,.endleft>p{
    color:#fff;
    font-size: 14px;
    line-height: 60px;
}
.endleft label{
    flex-basis: 42px;
}
.endleft input{
    margin-left:20px;
    flex-basis: 15px;
}
.endleft>a{
    flex-basis: 170px;
    display: flex;
    align-items: center;
}
.endleft a svg{
    display: block;
    margin-right: 3px;
}
.endleft>p{
    padding-left: 20px;
    line-height: 20px;
    border-left: 2px solid #6f7277;
    flex-grow: 2;
}
.endleft>p>span{
    color:#f5d204;
}
.endtotal{
    flex-basis: 182px;
    display: flex;
    align-items: center;
}
.endtotal>p:nth-child(1){
    width: 72px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.endtotal>p:nth-child(1)>span{
    display: block;
    font-size: 14px;
    color:#fff;
    text-align: right;
}
.endtotal>p:nth-child(2){
    line-height: 60px;
    color:#f5d204;
    font-size: 34px;
}
.endright a{
    display: block;
    width: 220px;
    line-height: 60px;
    background-color: #fdd900;
    text-align: center;
    color:#2a2f32;
    font-size: 26px;
}

.empty{
    width: 100%;
    background-image: url(../images/bg_03.jpg);
    display: none;
}
.inempty{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 280px;
    text-align: center;
    background-color: #fff;

}
.empty span{
    display: block;
    padding-top: 377px;
    background: url(../images/empty_03.jpg) no-repeat center 0;
    margin-bottom: 25px;
}
.empty h3{
    text-align: center;
    font-size: 38px;
}

/*气泡提示*/
.delbtn{
    position:absolute;
    width: 210px;
    display: flex;
    /*display: none;*/
}
.delbtn>a{
    line-height: 32px;
    text-align: center;
    color:#fff;
}
.delup{
    top:82px;
    right:-10px;
    background: url(../images/dell_03.png) no-repeat 0px 3px;
    padding: 12px 0 3px 3px;
}
.delbtndown{
    padding: 11px 0 20px 3px;
    background: url(../images/tips_03.png) no-repeat 0px 8px;
    top:2px;
    left:80px;
}

.delbtn .delyes{
    width: 74px;
    background-color: #f50000;
}
.delbtn .delno{
    width: 126px;
    background-color: #2b2e33;
}
